In [ ]:
alex = {
    'korean': 95,
    'english': 90,
    'math': 80
}

bill = {
    'korean': int(input()),  # 이거 됨
    'english': int(input()),
    'math': int(input())
}

print(alex)
print(bill)

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers]
# for n in numbers:
#     result.append(n * 2)

In [ ]:
words = ['apple', 'banana', 'cherry', 'dragonfruit']
result = [w for w in words if len(w) > 5]
# for w in words:
#     if len(w) > 5:
#         result.append(w)

In [ ]:
nums = [1, 2, 3]
result = ['even' if n % 2 == 0 else 'odd' for n in nums]
# for n in nums:
#     if n % 2 == 0:
#         result.append('even')
#     else:
#         result.append('odd')

In [ ]:
items = [1, 2, 3, 4]
result = [x+10 for x in items]
# for x in items:
#     result.append(x + 10)

In [ ]:
data = [10, 21, 30, 45, 50]
result = [n for n in data if n % 10 == 0]
# for n in data:
#     if n % 10 == 0:
#         result.append(n)

In [ ]:
names = ['alice', 'bob', 'charlie']
result = [name.capitalize() for name in names]
# for name in names:
#     result.append(name.capitalize())

In [ ]:
scores = [55, 80, 95]
result = ['Pass' if s >= 70 else 'Fail' for s in scores]
# for s in scores:
#     if s >= 70:
#         result.append('Pass')
#     else:
#         result.append('Fail')

In [ ]:
users = [{"id": 1, "name": "Alice"}, {"id": 2, "name": "Bob"}, {"id": 3, "name": "Charlie"}]
names = [user["name"] for user in users]
# for user in users:
#     names.append(user["name"])