In [1]:
from DB_module import *

['posmon', 'school']

In [2]:
db = client["school"]
students = db["students"]

st_20 = list(students.find({

        "age": {"$gt": 20}

}))

AorB = list(students.find({"name": {"$in": ["Alice", "Bob"]}})) 
csstudent = list(students.find({

    "$and" : [

        {"age": {"$gt": 18}},
        {"major": "CS"}

    ]

}))

passed = list(students.find({

    "$nor": [

        {"age": {"$lt": 15}},
        {"grade": "C"}

    ]

})) 

cs_passed = list(students.find({

    "$and": [

        {"major": "CS"},
        {"grade": {"$in": ["A", "B"]}},
        

    ]

}))

print(json.dumps(clean_doc(st_20), indent=4))
print(json.dumps(clean_doc(AorB), indent=4))
print(json.dumps(clean_doc(csstudent), indent=4))
print(json.dumps(clean_doc(passed), indent=4))
print(json.dumps(clean_doc(cs_passed), indent=4))

[
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Grace",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 68
    },
    {
        "name": "Julia",
        "age": 22,
        "grade": "A",
        "major": "EE",
        "score": 92
    },
    {
        "name": "Kevin",
        "age": 24,
        "grade": "C",
        "major": "CE",
        "score": 61
    },
    {
        "name": "Oscar",
        "age": 21,
        "grade": "A",
        "major": "ME",
        "score": 87
    },
    {
        "name": "Paula",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 63
    },
    {
        "name": "Uma",
        "age": 22,
        "grade": "A",
        "major": "CE",
        "score": 93
    },
    {
        "name": "Victor",
        "age": 24,
        "grade": "C",
        "major": "EE",
        "score": 58
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Fiona",
        "age": 21,
        "grade": "C",
        "major": "CS",
        "score": 69
    },
    {
        "name": "Gavin",
        "age": 22,
        "grade": "B",
        "major": "EE",
        "score": 81
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Luna",
        "age": 21,
        "grade": "B",
        "major": "EE",
        "score": 84
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    },
    {
        "name": "Trent",
        "age": 23,
        "grade": "A",
        "major": "EE",
        "score": 95
    },
    {
        "name": "Vera",
        "age": 21,
        "grade": "C",
        "major": "ME",
        "score": 68
    },
    {
        "name": "Zara",
        "age": 21,
        "grade": "B",
        "major": "ME",
        "score": 82
    }
]
[]
[
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Grace",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 68
    },
    {
        "name": "Mike",
        "age": 19,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Paula",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 63
    },
    {
        "name": "Tina",
        "age": 19,
        "grade": "B",
        "major": "CS",
        "score": 82
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Fiona",
        "age": 21,
        "grade": "C",
        "major": "CS",
        "score": 69
    },
    {
        "name": "Hazel",
        "age": 20,
        "grade": "A",
        "major": "CS",
        "score": 94
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    }
]
[
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Eve",
        "age": 15,
        "grade": "A",
        "major": "EE",
        "score": 95
    },
    {
        "name": "Hannah",
        "age": 20,
        "grade": "B",
        "major": "ME",
        "score": 79
    },
    {
        "name": "Ian",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 88
    },
    {
        "name": "Julia",
        "age": 22,
        "grade": "A",
        "major": "EE",
        "score": 92
    },
    {
        "name": "Laura",
        "age": 16,
        "grade": "B",
        "major": "ME",
        "score": 74
    },
    {
        "name": "Mike",
        "age": 19,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Nina",
        "age": 20,
        "grade": "B",
        "major": "EE",
        "score": 83
    },
    {
        "name": "Oscar",
        "age": 21,
        "grade": "A",
        "major": "ME",
        "score": 87
    },
    {
        "name": "Quentin",
        "age": 17,
        "grade": "B",
        "major": "CE",
        "score": 76
    },
    {
        "name": "Rachel",
        "age": 18,
        "grade": "A",
        "major": "EE",
        "score": 91
    },
    {
        "name": "Tina",
        "age": 19,
        "grade": "B",
        "major": "CS",
        "score": 82
    },
    {
        "name": "Uma",
        "age": 22,
        "grade": "A",
        "major": "CE",
        "score": 93
    },
    {
        "name": "Wendy",
        "age": 15,
        "grade": "A",
        "major": "ME",
        "score": 94
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Zack",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 89
    },
    {
        "name": "Aiden",
        "age": 20,
        "grade": "B",
        "major": "ME",
        "score": 78
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Diana",
        "age": 17,
        "grade": "B",
        "major": "EE",
        "score": 73
    },
    {
        "name": "Ethan",
        "age": 19,
        "grade": "A",
        "major": "ME",
        "score": 90
    },
    {
        "name": "Gavin",
        "age": 22,
        "grade": "B",
        "major": "EE",
        "score": 81
    },
    {
        "name": "Hazel",
        "age": 20,
        "grade": "A",
        "major": "CS",
        "score": 94
    },
    {
        "name": "Jade",
        "age": 18,
        "grade": "B",
        "major": "CE",
        "score": 77
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Luna",
        "age": 21,
        "grade": "B",
        "major": "EE",
        "score": 84
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Owen",
        "age": 20,
        "grade": "B",
        "major": "CE",
        "score": 75
    },
    {
        "name": "Piper",
        "age": 17,
        "grade": "A",
        "major": "EE",
        "score": 92
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    },
    {
        "name": "Trent",
        "age": 23,
        "grade": "A",
        "major": "EE",
        "score": 95
    },
    {
        "name": "Walter",
        "age": 16,
        "grade": "B",
        "major": "CS",
        "score": 79
    },
    {
        "name": "Xena",
        "age": 20,
        "grade": "A",
        "major": "EE",
        "score": 93
    },
    {
        "name": "Zara",
        "age": 21,
        "grade": "B",
        "major": "ME",
        "score": 82
    }
]
[
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Ian",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 88
    },
    {
        "name": "Mike",
        "age": 19,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Tina",
        "age": 19,
        "grade": "B",
        "major": "CS",
        "score": 82
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Zack",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 89
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Hazel",
        "age": 20,
        "grade": "A",
        "major": "CS",
        "score": 94
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    },
    {
        "name": "Walter",
        "age": 16,
        "grade": "B",
        "major": "CS",
        "score": 79
    }
]

In [13]:
cs_ee_good = list(students.find({

    "$and": [

        {"score": {"$gt": 80}},
        {"major": {"$in": ["CS","EE"]}}

    ]

}))

print(json.dumps(clean_doc(cs_ee_good), indent=1))

[
 {
  "name": "Alice",
  "age": 22,
  "grade": "A",
  "major": "CS",
  "score": 91
 },
 {
  "name": "David",
  "age": 21,
  "grade": "B",
  "major": "CS",
  "score": 84
 },
 {
  "name": "Eve",
  "age": 15,
  "grade": "A",
  "major": "EE",
  "score": 95
 },
 {
  "name": "Ian",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 88
 },
 {
  "name": "Julia",
  "age": 22,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Mike",
  "age": 19,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Nina",
  "age": 20,
  "grade": "B",
  "major": "EE",
  "score": 83
 },
 {
  "name": "Rachel",
  "age": 18,
  "grade": "A",
  "major": "EE",
  "score": 91
 },
 {
  "name": "Tina",
  "age": 19,
  "grade": "B",
  "major": "CS",
  "score": 82
 },
 {
  "name": "Zack",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 89
 },
 {
  "name": "Bella",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 96
 },
 {
  "name": "Gavin",
  "age": 22,
  "grade": "B",
  "major": "EE",
  "score": 81
 },
 {
  "name": "Hazel",
  "age": 20,
  "grade": "A",
  "major": "CS",
  "score": 94
 },
 {
  "name": "Kyle",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Luna",
  "age": 21,
  "grade": "B",
  "major": "EE",
  "score": 84
 },
 {
  "name": "Nora",
  "age": 24,
  "grade": "A",
  "major": "CS",
  "score": 97
 },
 {
  "name": "Piper",
  "age": 17,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Sophie",
  "age": 22,
  "grade": "B",
  "major": "CS",
  "score": 83
 },
 {
  "name": "Trent",
  "age": 23,
  "grade": "A",
  "major": "EE",
  "score": 95
 },
 {
  "name": "Xena",
  "age": 20,
  "grade": "A",
  "major": "EE",
  "score": 93
 }
]

In [31]:
not_c = list(students.find({

    "$and": [

        {"grade": {"$nin": ["C"]}},
        {"age": {"$in": [18,19,20,21,22]}}
            
    ]

}))

print(json.dumps(clean_doc(not_c), indent=1))

[
 {
  "name": "Alice",
  "age": 22,
  "grade": "A",
  "major": "CS",
  "score": 91
 },
 {
  "name": "David",
  "age": 21,
  "grade": "B",
  "major": "CS",
  "score": 84
 },
 {
  "name": "Hannah",
  "age": 20,
  "grade": "B",
  "major": "ME",
  "score": 79
 },
 {
  "name": "Ian",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 88
 },
 {
  "name": "Julia",
  "age": 22,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Mike",
  "age": 19,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Nina",
  "age": 20,
  "grade": "B",
  "major": "EE",
  "score": 83
 },
 {
  "name": "Oscar",
  "age": 21,
  "grade": "A",
  "major": "ME",
  "score": 87
 },
 {
  "name": "Rachel",
  "age": 18,
  "grade": "A",
  "major": "EE",
  "score": 91
 },
 {
  "name": "Tina",
  "age": 19,
  "grade": "B",
  "major": "CS",
  "score": 82
 },
 {
  "name": "Uma",
  "age": 22,
  "grade": "A",
  "major": "CE",
  "score": 93
 },
 {
  "name": "Xavier",
  "age": 21,
  "grade": "B",
  "major": "CS",
  "score": 80
 },
 {
  "name": "Zack",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 89
 },
 {
  "name": "Aiden",
  "age": 20,
  "grade": "B",
  "major": "ME",
  "score": 78
 },
 {
  "name": "Ethan",
  "age": 19,
  "grade": "A",
  "major": "ME",
  "score": 90
 },
 {
  "name": "Gavin",
  "age": 22,
  "grade": "B",
  "major": "EE",
  "score": 81
 },
 {
  "name": "Hazel",
  "age": 20,
  "grade": "A",
  "major": "CS",
  "score": 94
 },
 {
  "name": "Jade",
  "age": 18,
  "grade": "B",
  "major": "CE",
  "score": 77
 },
 {
  "name": "Luna",
  "age": 21,
  "grade": "B",
  "major": "EE",
  "score": 84
 },
 {
  "name": "Owen",
  "age": 20,
  "grade": "B",
  "major": "CE",
  "score": 75
 },
 {
  "name": "Sophie",
  "age": 22,
  "grade": "B",
  "major": "CS",
  "score": 83
 },
 {
  "name": "Xena",
  "age": 20,
  "grade": "A",
  "major": "EE",
  "score": 93
 },
 {
  "name": "Zara",
  "age": 21,
  "grade": "B",
  "major": "ME",
  "score": 82
 }
]

In [36]:
u16_o90 = list(students.find({

    "$or": [

        {"age": {"$lt": 16}},
        {"score": {"$gte": 90}}

    ]

}))

print(u16_o90)

[{'_id': ObjectId('69317fff049a88c9b135a5fc'), 'name': 'Alice', 'age': 22, 'grade': 'A', 'major': 'CS', 'score': 91}, {'_id': ObjectId('69317fff049a88c9b135a600'), 'name': 'Eve', 'age': 15, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a601'), 'name': 'Frank', 'age': 14, 'grade': 'B', 'major': 'CE', 'score': 72}, {'_id': ObjectId('69317fff049a88c9b135a605'), 'name': 'Julia', 'age': 22, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a608'), 'name': 'Mike', 'age': 19, 'grade': 'A', 'major': 'CS', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a60d'), 'name': 'Rachel', 'age': 18, 'grade': 'A', 'major': 'EE', 'score': 91}, {'_id': ObjectId('69317fff049a88c9b135a610'), 'name': 'Uma', 'age': 22, 'grade': 'A', 'major': 'CE', 'score': 93}, {'_id': ObjectId('69317fff049a88c9b135a612'), 'name': 'Wendy', 'age': 15, 'grade': 'A', 'major': 'ME', 'score': 94}, {'_id': ObjectId('69317fff049a88c9b135a617'), 'name': 'Bella', 'age': 23, 'grade': 'A', 'major': 'CS', 'score': 96}, {'_id': ObjectId('69317fff049a88c9b135a618'), 'name': 'Cody', 'age': 14, 'grade': 'C', 'major': 'CE', 'score': 55}, {'_id': ObjectId('69317fff049a88c9b135a61a'), 'name': 'Ethan', 'age': 19, 'grade': 'A', 'major': 'ME', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a61d'), 'name': 'Hazel', 'age': 20, 'grade': 'A', 'major': 'CS', 'score': 94}, {'_id': ObjectId('69317fff049a88c9b135a620'), 'name': 'Kyle', 'age': 23, 'grade': 'A', 'major': 'CS', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a622'), 'name': 'Mason', 'age': 15, 'grade': 'C', 'major': 'ME', 'score': 60}, {'_id': ObjectId('69317fff049a88c9b135a623'), 'name': 'Nora', 'age': 24, 'grade': 'A', 'major': 'CS', 'score': 97}, {'_id': ObjectId('69317fff049a88c9b135a625'), 'name': 'Piper', 'age': 17, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a628'), 'name': 'Trent', 'age': 23, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a62b'), 'name': 'Xena', 'age': 20, 'grade': 'A', 'major': 'EE', 'score': 93}]

In [37]:
#5. major 가 ME, CE, EE 중 하나이면서 grade가 "B"인 학생 찾기.

meceeeb = list(students.find({

    "$and": [

        {"major": {"$in": ["ME", "EE", "CE"]}},
        {"grade": "B"}

    ]

}))

print(meceeeb)

[{'_id': ObjectId('69317fff049a88c9b135a5fd'), 'name': 'Bob', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a601'), 'name': 'Frank', 'age': 14, 'grade': 'B', 'major': 'CE', 'score': 72}, {'_id': ObjectId('69317fff049a88c9b135a603'), 'name': 'Hannah', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 79}, {'_id': ObjectId('69317fff049a88c9b135a607'), 'name': 'Laura', 'age': 16, 'grade': 'B', 'major': 'ME', 'score': 74}, {'_id': ObjectId('69317fff049a88c9b135a609'), 'name': 'Nina', 'age': 20, 'grade': 'B', 'major': 'EE', 'score': 83}, {'_id': ObjectId('69317fff049a88c9b135a60c'), 'name': 'Quentin', 'age': 17, 'grade': 'B', 'major': 'CE', 'score': 76}, {'_id': ObjectId('69317fff049a88c9b135a616'), 'name': 'Aiden', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 78}, {'_id': ObjectId('69317fff049a88c9b135a619'), 'name': 'Diana', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 73}, {'_id': ObjectId('69317fff049a88c9b135a61c'), 'name': 'Gavin', 'age': 22, 'grade': 'B', 'major': 'EE', 'score': 81}, {'_id': ObjectId('69317fff049a88c9b135a61f'), 'name': 'Jade', 'age': 18, 'grade': 'B', 'major': 'CE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a621'), 'name': 'Luna', 'age': 21, 'grade': 'B', 'major': 'EE', 'score': 84}, {'_id': ObjectId('69317fff049a88c9b135a624'), 'name': 'Owen', 'age': 20, 'grade': 'B', 'major': 'CE', 'score': 75}, {'_id': ObjectId('69317fff049a88c9b135a62d'), 'name': 'Zara', 'age': 21, 'grade': 'B', 'major': 'ME', 'score': 82}]

In [38]:
#문요준 9:00 PM6. grade가 A 또는 B이지만, CS 전공이 아닌 학생 모두 찾기.

a = list(students.find({

    "$and": [

        {"grade": {"$in": ["A","B"]}},
        {"major": {"$nin": ["CS"]}}

    ]

}))

print(a)

[{'_id': ObjectId('69317fff049a88c9b135a5fd'), 'name': 'Bob', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a600'), 'name': 'Eve', 'age': 15, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a601'), 'name': 'Frank', 'age': 14, 'grade': 'B', 'major': 'CE', 'score': 72}, {'_id': ObjectId('69317fff049a88c9b135a603'), 'name': 'Hannah', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 79}, {'_id': ObjectId('69317fff049a88c9b135a605'), 'name': 'Julia', 'age': 22, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a607'), 'name': 'Laura', 'age': 16, 'grade': 'B', 'major': 'ME', 'score': 74}, {'_id': ObjectId('69317fff049a88c9b135a609'), 'name': 'Nina', 'age': 20, 'grade': 'B', 'major': 'EE', 'score': 83}, {'_id': ObjectId('69317fff049a88c9b135a60a'), 'name': 'Oscar', 'age': 21, 'grade': 'A', 'major': 'ME', 'score': 87}, {'_id': ObjectId('69317fff049a88c9b135a60c'), 'name': 'Quentin', 'age': 17, 'grade': 'B', 'major': 'CE', 'score': 76}, {'_id': ObjectId('69317fff049a88c9b135a60d'), 'name': 'Rachel', 'age': 18, 'grade': 'A', 'major': 'EE', 'score': 91}, {'_id': ObjectId('69317fff049a88c9b135a610'), 'name': 'Uma', 'age': 22, 'grade': 'A', 'major': 'CE', 'score': 93}, {'_id': ObjectId('69317fff049a88c9b135a612'), 'name': 'Wendy', 'age': 15, 'grade': 'A', 'major': 'ME', 'score': 94}, {'_id': ObjectId('69317fff049a88c9b135a616'), 'name': 'Aiden', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 78}, {'_id': ObjectId('69317fff049a88c9b135a619'), 'name': 'Diana', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 73}, {'_id': ObjectId('69317fff049a88c9b135a61a'), 'name': 'Ethan', 'age': 19, 'grade': 'A', 'major': 'ME', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a61c'), 'name': 'Gavin', 'age': 22, 'grade': 'B', 'major': 'EE', 'score': 81}, {'_id': ObjectId('69317fff049a88c9b135a61f'), 'name': 'Jade', 'age': 18, 'grade': 'B', 'major': 'CE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a621'), 'name': 'Luna', 'age': 21, 'grade': 'B', 'major': 'EE', 'score': 84}, {'_id': ObjectId('69317fff049a88c9b135a624'), 'name': 'Owen', 'age': 20, 'grade': 'B', 'major': 'CE', 'score': 75}, {'_id': ObjectId('69317fff049a88c9b135a625'), 'name': 'Piper', 'age': 17, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a628'), 'name': 'Trent', 'age': 23, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a62b'), 'name': 'Xena', 'age': 20, 'grade': 'A', 'major': 'EE', 'score': 93}, {'_id': ObjectId('69317fff049a88c9b135a62d'), 'name': 'Zara', 'age': 21, 'grade': 'B', 'major': 'ME', 'score': 82}]

In [11]:
#7. 나이가 18보다 크고, (성적이 A이거나 점수가 85 이상) 인 학생 찾기.

b = list(students.find({

    "$and": [

        {"age": {"$gt": 18}},
        {"$or": [{"grade": "A"}, {"score": {"$gte": "85"}}]}
    ] 

}))

print_(b)

[
   {
      "name": "Alice",
      "age": 22,
      "grade": "A",
      "major": "CS",
      "score": 91
   },
   {
      "name": "Julia",
      "age": 22,
      "grade": "A",
      "major": "EE",
      "score": 92
   },
   {
      "name": "Mike",
      "age": 19,
      "grade": "A",
      "major": "CS",
      "score": 90
   },
   {
      "name": "Oscar",
      "age": 21,
      "grade": "A",
      "major": "ME",
      "score": 87
   },
   {
      "name": "Uma",
      "age": 22,
      "grade": "A",
      "major": "CE",
      "score": 93
   },
   {
      "name": "Bella",
      "age": 23,
      "grade": "A",
      "major": "CS",
      "score": 96
   },
   {
      "name": "Ethan",
      "age": 19,
      "grade": "A",
      "major": "ME",
      "score": 90
   },
   {
      "name": "Hazel",
      "age": 20,
      "grade": "A",
      "major": "CS",
      "score": 94
   },
   {
      "name": "Kyle",
      "age": 23,
      "grade": "A",
      "major": "CS",
      "score": 90
   },
   {
      "name": "Nora",
      "age": 24,
      "grade": "A",
      "major": "CS",
      "score": 97
   },
   {
      "name": "Trent",
      "age": 23,
      "grade": "A",
      "major": "EE",
      "score": 95
   },
   {
      "name": "Xena",
      "age": 20,
      "grade": "A",
      "major": "EE",
      "score": 93
   }
]

In [11]:
#나이가 20세 이상인 학생 중 score 기준으로 내림차순 정렬하여 상위 3명만 조회하라.
d = list(students.find({

    'age': {'$gte':20}

}).sort('score', -1).limit(3))

print(json.dumps(clean_doc(d), indent=1))

[
 {
  "name": "Nora",
  "age": 24,
  "grade": "A",
  "major": "CS",
  "score": 97
 },
 {
  "name": "Bella",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 96
 },
 {
  "name": "Trent",
  "age": 23,
  "grade": "A",
  "major": "EE",
  "score": 95
 }
]

In [ ]:
#grade가 B인 학생들의 name과 major만 출력하고, _id는 제외하라

e = list(students.find({

    "grade": "B"

},{'_id' : 0, 'name':1, 'major':1}))


print(json.dumps(clean_doc(e), indent=1))

[
 {
  "name": "David",
  "major": "CS"
 },
 {
  "name": "Frank",
  "major": "CE"
 },
 {
  "name": "Hannah",
  "major": "ME"
 },
 {
  "name": "Laura",
  "major": "ME"
 },
 {
  "name": "Nina",
  "major": "EE"
 },
 {
  "name": "Quentin",
  "major": "CE"
 },
 {
  "name": "Tina",
  "major": "CS"
 },
 {
  "name": "Xavier",
  "major": "CS"
 },
 {
  "name": "Aiden",
  "major": "ME"
 },
 {
  "name": "Diana",
  "major": "EE"
 },
 {
  "name": "Gavin",
  "major": "EE"
 },
 {
  "name": "Jade",
  "major": "CE"
 },
 {
  "name": "Luna",
  "major": "EE"
 },
 {
  "name": "Owen",
  "major": "CE"
 },
 {
  "name": "Sophie",
  "major": "CS"
 },
 {
  "name": "Walter",
  "major": "CS"
 },
 {
  "name": "Zara",
  "major": "ME"
 }
]

In [4]:
#major가 CS 또는 EE인 학생 중 age가 가장 어린 5명을 찾아라.
#단, name과 age만 출력.

f = list(students.find(
    {
        "major" : {"$in":['CS','EE']},
    },
    {'name':1, 'age':1}
).sort('age').limit(5))


print(json.dumps(clean_doc(f), indent=1))

[
 {
  "name": "Eve",
  "age": 15
 },
 {
  "name": "Walter",
  "age": 16
 },
 {
  "name": "Yuna",
  "age": 16
 },
 {
  "name": "Piper",
  "age": 17
 },
 {
  "name": "Diana",
  "age": 17
 }
]

In [5]:
# score가 85 이상인 학생을 score 오름차순으로 정렬하여 전체 출력하라.

g = list(students.find({

    'score' : {'$gte' : 85}

}).sort("score"))


print(json.dumps(clean_doc(g), indent=1))

[
 {
  "name": "Oscar",
  "age": 21,
  "grade": "A",
  "major": "ME",
  "score": 87
 },
 {
  "name": "Ian",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 88
 },
 {
  "name": "Zack",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 89
 },
 {
  "name": "Mike",
  "age": 19,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Ethan",
  "age": 19,
  "grade": "A",
  "major": "ME",
  "score": 90
 },
 {
  "name": "Kyle",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Rachel",
  "age": 18,
  "grade": "A",
  "major": "EE",
  "score": 91
 },
 {
  "name": "Julia",
  "age": 22,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Piper",
  "age": 17,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Uma",
  "age": 22,
  "grade": "A",
  "major": "CE",
  "score": 93
 },
 {
  "name": "Xena",
  "age": 20,
  "grade": "A",
  "major": "EE",
  "score": 93
 },
 {
  "name": "Wendy",
  "age": 15,
  "grade": "A",
  "major": "ME",
  "score": 94
 },
 {
  "name": "Hazel",
  "age": 20,
  "grade": "A",
  "major": "CS",
  "score": 94
 },
 {
  "name": "Eve",
  "age": 15,
  "grade": "A",
  "major": "EE",
  "score": 95
 },
 {
  "name": "Trent",
  "age": 23,
  "grade": "A",
  "major": "EE",
  "score": 95
 },
 {
  "name": "Bella",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 96
 },
 {
  "name": "Nora",
  "age": 24,
  "grade": "A",
  "major": "CS",
  "score": 97
 }
]

In [5]:
# grade가 A이면서 score가 90 이상인 학생 중, 가장 나이가 많은 2명만 출력하라.

h = list(students.find({

    'grade' : 'A',
    'score' : {'$gte':90}

}).sort('age', -1).limit(2))

print(json.dumps(clean_doc(h), indent=1))

[
 {
  "name": "Nora",
  "age": 24,
  "grade": "A",
  "major": "CS",
  "score": 97
 },
 {
  "name": "Kyle",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 90
 }
]

In [6]:
#grade가 C가 아닌 학생들 중 score 기준 내림차순 정렬하여 상위 10명만 name과 score만 출력하라.

i = list(students.find({

    'grade' : {'$ne':'C'}

},{'name':1,'score':1}).sort('score', -1).limit(10))

print(json.dumps(clean_doc(i), indent=1))

[
 {
  "name": "Nora",
  "score": 97
 },
 {
  "name": "Bella",
  "score": 96
 },
 {
  "name": "Trent",
  "score": 95
 },
 {
  "name": "Eve",
  "score": 95
 },
 {
  "name": "Hazel",
  "score": 94
 },
 {
  "name": "Wendy",
  "score": 94
 },
 {
  "name": "Xena",
  "score": 93
 },
 {
  "name": "Uma",
  "score": 93
 },
 {
  "name": "Piper",
  "score": 92
 },
 {
  "name": "Julia",
  "score": 92
 }
]

In [8]:
#major가 ME이면서 score가 70~90 사이인 학생을 age 기준 오름차순으로 정렬하여 3명만 출력하라.

j = list(students.find({

    'major' : 'ME',
    'score' : {'$gte':70, '$lte':90}

}).sort('age').limit(3))

print(json.dumps(clean_doc(j), indent=1))

[
 {
  "name": "Laura",
  "age": 16,
  "grade": "B",
  "major": "ME",
  "score": 74
 },
 {
  "name": "Ethan",
  "age": 19,
  "grade": "A",
  "major": "ME",
  "score": 90
 },
 {
  "name": "Aiden",
  "age": 20,
  "grade": "B",
  "major": "ME",
  "score": 78
 }
]

In [10]:
#major가 CS 또는 ME인 학생 중 name 역순(Z→A) 정렬하여 상위 7명 출력하라.

k = list(students.find({

    'major' : {'$in':['CS', 'ME']},
    
}).sort('name',-1).limit(7))

print(json.dumps(clean_doc(k), indent=1))

[
 {
  "name": "Zara",
  "age": 21,
  "grade": "B",
  "major": "ME",
  "score": 82
 },
 {
  "name": "Zack",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 89
 },
 {
  "name": "Xavier",
  "age": 21,
  "grade": "B",
  "major": "CS",
  "score": 80
 },
 {
  "name": "Wendy",
  "age": 15,
  "grade": "A",
  "major": "ME",
  "score": 94
 },
 {
  "name": "Walter",
  "age": 16,
  "grade": "B",
  "major": "CS",
  "score": 79
 },
 {
  "name": "Vera",
  "age": 21,
  "grade": "C",
  "major": "ME",
  "score": 68
 },
 {
  "name": "Tina",
  "age": 19,
  "grade": "B",
  "major": "CS",
  "score": 82
 }
]

In [15]:
#score가 85 이상이면서 grade가 A 또는 B인 학생 중 name과 score만 출력하고, score 내림차순으로 정렬해 상위 5명만 가져오라.

l = list(students.find({

    'grade' : {'$in': ['A','B']},
    'score' : {'$gte':85}

},{'name':1,'score':1}).sort('score',-1).limit(5))

print(json.dumps(clean_doc(l), indent=1))

[
 {
  "name": "Nora",
  "score": 97
 },
 {
  "name": "Bella",
  "score": 96
 },
 {
  "name": "Trent",
  "score": 95
 },
 {
  "name": "Eve",
  "score": 95
 },
 {
  "name": "Hazel",
  "score": 94
 }
]

In [4]:
# grade가 A이고 score가 90 이상인 학생에게
# devices 필드를 빈 리스트([]) 로 새로 생성하라.
students.update_many({

    'grade' : 'A',
    'score' : {'$gte':90}

}, {

    '$set' : {

        'devices' : []

    }

})

UpdateResult({'n': 15, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [5]:
#age가 18 이상이고 major가 CS 또는 EE인 학생에게
#scores 필드를 [70, 80, 90] 으로 생성하라.

students.update_many({

    'major' : {'$in' : ["CS", "EE"]},
    'age' : {'$gte' : 18}

}, {

    '$set' : {

        'scores' : [70, 80, 90]

    }

})

UpdateResult({'n': 22, 'nModified': 22, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [6]:
# (score가 85 이상이고 grade가 A) 또는
# (age가 20 이상이고 major가 CS)
# 인 학생에게:
# devices 필드 생성 → ["iPhone"]
# score를 2 증가

students.update_many({

    '$or' : [

        {'grade':'A','score':{'$gte':85}},
        {'age':{'$gte':20}, 'major':'CS'}

    ]

}, {

    '$set': {

        'devices' : [

            'iPhone'

        ]

    },

    "$inc" : {

        'score' : 2

    }

})

UpdateResult({'n': 24, 'nModified': 24, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [7]:
# major가 EE이고 grade가 C가 아닌 학생에게
# scores 필드를 생성하고 [60, 70, 80] 을 넣어라.
# 그 후 score를 5 증가시켜라.

students.update_many({

    'major' : {'$ne' : "EE"},
    'grade' : {'$ne' : "C"}

}, {

    '$set' : {

        'scores' : [60, 70, 80],
        
    },
    
    '$inc' : {
        
        'score' : 5
            
            }

})

UpdateResult({'n': 26, 'nModified': 26, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [8]:
# 다음 조건을 모두 만족하는 학생을 업데이트하라:
# age ≥ 18
# score ≥ 80
# (grade = A OR major = CS)
# grade ≠ C
# 업데이트:
# devices → ["Initialized"]
# scores → [70, 80]
# score +5

students.update_many({

    'age' : {'$gte' : 18},
    'score' : {'$gte' : 80},
    '$or' : [

        {'grade' : 'A'},
        {'major' : 'CS'}

    ],
    'grade' : {'$ne':'C'}

}, {

    '$set' : {

        'devices' : ['Initialized'],
        'scores' : [70, 80],
        
    },

    '$inc' : {

        'score' : 5
        

    }

})

UpdateResult({'n': 18, 'nModified': 18, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [9]:
# grade가 A이고 score가 90 이상인 학생에게
# devices 배열을 생성하고 "iPhone" 을 추가

students.update_many({

    'grade' : 'A',
    'score' : {'$gte' : 90}

}, {

    '$push' : {

        'devices' : 'iPhone'

    }

})

UpdateResult({'n': 18, 'nModified': 18, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [ ]:
# age가 18 이상이고 major가 CS 또는 EE인 학생에게
# scores 배열을 생성하고 [80, 90] 을 한 번에 추가

students.update_many({

    'age' : {'$gte':18},
    'major' : {'$in':["CS","EE"]}

}, {

    '$push' : {

        'scores' : {'$each':[80,90]}

    } 

})

In [ ]:
# devices 배열이 없거나 이미 있든 상관없이,
# grade가 A인 학생에게 "iPad" 를 중복 없이 추가

students.update_many({

    'grade' : 'A'

},{

    '$addToSet' : {

        'devices' : "iPad"
        ""

    }

})

In [ ]:
# major가 CS이고 score가 85 이상인 학생에게
# devices 배열에 "MacBook", "iPhone" 을 중복 없이 한 번에 추가

students.update_many({

    'major' : "CS",
    'score' : {'$gte' : 85}

}, {

    '$addToSet' : {

        'devices' : {'$each' : ['MacBook', "iPhone"]}

    }

})

In [ ]:
# grade가 C인 학생 중
# scores 배열이 있다면,
# scores 배열에서 70 미만 점수를 제거

students.update_many({

    'grade' : 'C',
    'scores' : {'$exists' : True} 

}, {

    '$pull' : {

        'scores' : {'$lt' : 70}

    }

})

In [ ]:
# major가 EE이고 score가 80 미만인 학생의
# devices 배열에서 "Android" 를 제거하라.

students.update_many({

    'major' : 'EE',
    'score' : {'$lt' : 80}

}, {

    '$pull' : {

        'devices' : 'Android'
 
    }

})