In [10]:
from DB_module import *

['posmon', 'school']

In [14]:
db = client["school"]
students = db["students"]

st_20 = list(students.find({

        "age": {"$gt": 20}

}))

AorB = list(students.find({"name": {"$in": ["Alice", "Bob"]}})) 
csstudent = list(students.find({

    "$and" : [

        {"age": {"$gt": 18}},
        {"major": "CS"}

    ]

}))

passed = list(students.find({

    "$nor": [

        {"age": {"$lt": 15}},
        {"grade": "C"}

    ]

})) 

cs_passed = list(students.find({

    "$and": [

        {"major": "CS"},
        {"grade": {"$in": ["A", "B"]}},
        

    ]

}))

print(json.dumps(clean_doc(st_20), indent=4))
print(json.dumps(clean_doc(AorB), indent=4))
print(json.dumps(clean_doc(csstudent), indent=4))
print(json.dumps(clean_doc(passed), indent=4))
print(json.dumps(clean_doc(cs_passed), indent=4))

[
    {
        "name": "Alice",
        "age": 22,
        "grade": "A",
        "major": "CS",
        "score": 91
    },
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Grace",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 68
    },
    {
        "name": "Julia",
        "age": 22,
        "grade": "A",
        "major": "EE",
        "score": 92
    },
    {
        "name": "Kevin",
        "age": 24,
        "grade": "C",
        "major": "CE",
        "score": 61
    },
    {
        "name": "Oscar",
        "age": 21,
        "grade": "A",
        "major": "ME",
        "score": 87
    },
    {
        "name": "Paula",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 63
    },
    {
        "name": "Uma",
        "age": 22,
        "grade": "A",
        "major": "CE",
        "score": 93
    },
    {
        "name": "Victor",
        "age": 24,
        "grade": "C",
        "major": "EE",
        "score": 58
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Fiona",
        "age": 21,
        "grade": "C",
        "major": "CS",
        "score": 69
    },
    {
        "name": "Gavin",
        "age": 22,
        "grade": "B",
        "major": "EE",
        "score": 81
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Luna",
        "age": 21,
        "grade": "B",
        "major": "EE",
        "score": 84
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    },
    {
        "name": "Trent",
        "age": 23,
        "grade": "A",
        "major": "EE",
        "score": 95
    },
    {
        "name": "Vera",
        "age": 21,
        "grade": "C",
        "major": "ME",
        "score": 68
    },
    {
        "name": "Zara",
        "age": 21,
        "grade": "B",
        "major": "ME",
        "score": 82
    }
]
[
    {
        "name": "Alice",
        "age": 22,
        "grade": "A",
        "major": "CS",
        "score": 91
    },
    {
        "name": "Bob",
        "age": 17,
        "grade": "B",
        "major": "EE",
        "score": 77
    }
]
[
    {
        "name": "Alice",
        "age": 22,
        "grade": "A",
        "major": "CS",
        "score": 91
    },
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Grace",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 68
    },
    {
        "name": "Mike",
        "age": 19,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Paula",
        "age": 23,
        "grade": "C",
        "major": "CS",
        "score": 63
    },
    {
        "name": "Tina",
        "age": 19,
        "grade": "B",
        "major": "CS",
        "score": 82
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Fiona",
        "age": 21,
        "grade": "C",
        "major": "CS",
        "score": 69
    },
    {
        "name": "Hazel",
        "age": 20,
        "grade": "A",
        "major": "CS",
        "score": 94
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    }
]
[
    {
        "name": "Alice",
        "age": 22,
        "grade": "A",
        "major": "CS",
        "score": 91
    },
    {
        "name": "Bob",
        "age": 17,
        "grade": "B",
        "major": "EE",
        "score": 77
    },
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Eve",
        "age": 15,
        "grade": "A",
        "major": "EE",
        "score": 95
    },
    {
        "name": "Hannah",
        "age": 20,
        "grade": "B",
        "major": "ME",
        "score": 79
    },
    {
        "name": "Ian",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 88
    },
    {
        "name": "Julia",
        "age": 22,
        "grade": "A",
        "major": "EE",
        "score": 92
    },
    {
        "name": "Laura",
        "age": 16,
        "grade": "B",
        "major": "ME",
        "score": 74
    },
    {
        "name": "Mike",
        "age": 19,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Nina",
        "age": 20,
        "grade": "B",
        "major": "EE",
        "score": 83
    },
    {
        "name": "Oscar",
        "age": 21,
        "grade": "A",
        "major": "ME",
        "score": 87
    },
    {
        "name": "Quentin",
        "age": 17,
        "grade": "B",
        "major": "CE",
        "score": 76
    },
    {
        "name": "Rachel",
        "age": 18,
        "grade": "A",
        "major": "EE",
        "score": 91
    },
    {
        "name": "Tina",
        "age": 19,
        "grade": "B",
        "major": "CS",
        "score": 82
    },
    {
        "name": "Uma",
        "age": 22,
        "grade": "A",
        "major": "CE",
        "score": 93
    },
    {
        "name": "Wendy",
        "age": 15,
        "grade": "A",
        "major": "ME",
        "score": 94
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Zack",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 89
    },
    {
        "name": "Aiden",
        "age": 20,
        "grade": "B",
        "major": "ME",
        "score": 78
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Diana",
        "age": 17,
        "grade": "B",
        "major": "EE",
        "score": 73
    },
    {
        "name": "Ethan",
        "age": 19,
        "grade": "A",
        "major": "ME",
        "score": 90
    },
    {
        "name": "Gavin",
        "age": 22,
        "grade": "B",
        "major": "EE",
        "score": 81
    },
    {
        "name": "Hazel",
        "age": 20,
        "grade": "A",
        "major": "CS",
        "score": 94
    },
    {
        "name": "Jade",
        "age": 18,
        "grade": "B",
        "major": "CE",
        "score": 77
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Luna",
        "age": 21,
        "grade": "B",
        "major": "EE",
        "score": 84
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Owen",
        "age": 20,
        "grade": "B",
        "major": "CE",
        "score": 75
    },
    {
        "name": "Piper",
        "age": 17,
        "grade": "A",
        "major": "EE",
        "score": 92
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    },
    {
        "name": "Trent",
        "age": 23,
        "grade": "A",
        "major": "EE",
        "score": 95
    },
    {
        "name": "Walter",
        "age": 16,
        "grade": "B",
        "major": "CS",
        "score": 79
    },
    {
        "name": "Xena",
        "age": 20,
        "grade": "A",
        "major": "EE",
        "score": 93
    },
    {
        "name": "Zara",
        "age": 21,
        "grade": "B",
        "major": "ME",
        "score": 82
    }
]
[
    {
        "name": "Alice",
        "age": 22,
        "grade": "A",
        "major": "CS",
        "score": 91
    },
    {
        "name": "David",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 84
    },
    {
        "name": "Ian",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 88
    },
    {
        "name": "Mike",
        "age": 19,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Tina",
        "age": 19,
        "grade": "B",
        "major": "CS",
        "score": 82
    },
    {
        "name": "Xavier",
        "age": 21,
        "grade": "B",
        "major": "CS",
        "score": 80
    },
    {
        "name": "Zack",
        "age": 18,
        "grade": "A",
        "major": "CS",
        "score": 89
    },
    {
        "name": "Bella",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 96
    },
    {
        "name": "Hazel",
        "age": 20,
        "grade": "A",
        "major": "CS",
        "score": 94
    },
    {
        "name": "Kyle",
        "age": 23,
        "grade": "A",
        "major": "CS",
        "score": 90
    },
    {
        "name": "Nora",
        "age": 24,
        "grade": "A",
        "major": "CS",
        "score": 97
    },
    {
        "name": "Sophie",
        "age": 22,
        "grade": "B",
        "major": "CS",
        "score": 83
    },
    {
        "name": "Walter",
        "age": 16,
        "grade": "B",
        "major": "CS",
        "score": 79
    }
]

In [13]:
cs_ee_good = list(students.find({

    "$and": [

        {"score": {"$gt": 80}},
        {"major": {"$in": ["CS","EE"]}}

    ]

}))

print(json.dumps(clean_doc(cs_ee_good), indent=1))

[
 {
  "name": "Alice",
  "age": 22,
  "grade": "A",
  "major": "CS",
  "score": 91
 },
 {
  "name": "David",
  "age": 21,
  "grade": "B",
  "major": "CS",
  "score": 84
 },
 {
  "name": "Eve",
  "age": 15,
  "grade": "A",
  "major": "EE",
  "score": 95
 },
 {
  "name": "Ian",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 88
 },
 {
  "name": "Julia",
  "age": 22,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Mike",
  "age": 19,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Nina",
  "age": 20,
  "grade": "B",
  "major": "EE",
  "score": 83
 },
 {
  "name": "Rachel",
  "age": 18,
  "grade": "A",
  "major": "EE",
  "score": 91
 },
 {
  "name": "Tina",
  "age": 19,
  "grade": "B",
  "major": "CS",
  "score": 82
 },
 {
  "name": "Zack",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 89
 },
 {
  "name": "Bella",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 96
 },
 {
  "name": "Gavin",
  "age": 22,
  "grade": "B",
  "major": "EE",
  "score": 81
 },
 {
  "name": "Hazel",
  "age": 20,
  "grade": "A",
  "major": "CS",
  "score": 94
 },
 {
  "name": "Kyle",
  "age": 23,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Luna",
  "age": 21,
  "grade": "B",
  "major": "EE",
  "score": 84
 },
 {
  "name": "Nora",
  "age": 24,
  "grade": "A",
  "major": "CS",
  "score": 97
 },
 {
  "name": "Piper",
  "age": 17,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Sophie",
  "age": 22,
  "grade": "B",
  "major": "CS",
  "score": 83
 },
 {
  "name": "Trent",
  "age": 23,
  "grade": "A",
  "major": "EE",
  "score": 95
 },
 {
  "name": "Xena",
  "age": 20,
  "grade": "A",
  "major": "EE",
  "score": 93
 }
]

In [31]:
not_c = list(students.find({

    "$and": [

        {"grade": {"$nin": ["C"]}},
        {"age": {"$in": [18,19,20,21,22]}}
            
    ]

}))

print(json.dumps(clean_doc(not_c), indent=1))

[
 {
  "name": "Alice",
  "age": 22,
  "grade": "A",
  "major": "CS",
  "score": 91
 },
 {
  "name": "David",
  "age": 21,
  "grade": "B",
  "major": "CS",
  "score": 84
 },
 {
  "name": "Hannah",
  "age": 20,
  "grade": "B",
  "major": "ME",
  "score": 79
 },
 {
  "name": "Ian",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 88
 },
 {
  "name": "Julia",
  "age": 22,
  "grade": "A",
  "major": "EE",
  "score": 92
 },
 {
  "name": "Mike",
  "age": 19,
  "grade": "A",
  "major": "CS",
  "score": 90
 },
 {
  "name": "Nina",
  "age": 20,
  "grade": "B",
  "major": "EE",
  "score": 83
 },
 {
  "name": "Oscar",
  "age": 21,
  "grade": "A",
  "major": "ME",
  "score": 87
 },
 {
  "name": "Rachel",
  "age": 18,
  "grade": "A",
  "major": "EE",
  "score": 91
 },
 {
  "name": "Tina",
  "age": 19,
  "grade": "B",
  "major": "CS",
  "score": 82
 },
 {
  "name": "Uma",
  "age": 22,
  "grade": "A",
  "major": "CE",
  "score": 93
 },
 {
  "name": "Xavier",
  "age": 21,
  "grade": "B",
  "major": "CS",
  "score": 80
 },
 {
  "name": "Zack",
  "age": 18,
  "grade": "A",
  "major": "CS",
  "score": 89
 },
 {
  "name": "Aiden",
  "age": 20,
  "grade": "B",
  "major": "ME",
  "score": 78
 },
 {
  "name": "Ethan",
  "age": 19,
  "grade": "A",
  "major": "ME",
  "score": 90
 },
 {
  "name": "Gavin",
  "age": 22,
  "grade": "B",
  "major": "EE",
  "score": 81
 },
 {
  "name": "Hazel",
  "age": 20,
  "grade": "A",
  "major": "CS",
  "score": 94
 },
 {
  "name": "Jade",
  "age": 18,
  "grade": "B",
  "major": "CE",
  "score": 77
 },
 {
  "name": "Luna",
  "age": 21,
  "grade": "B",
  "major": "EE",
  "score": 84
 },
 {
  "name": "Owen",
  "age": 20,
  "grade": "B",
  "major": "CE",
  "score": 75
 },
 {
  "name": "Sophie",
  "age": 22,
  "grade": "B",
  "major": "CS",
  "score": 83
 },
 {
  "name": "Xena",
  "age": 20,
  "grade": "A",
  "major": "EE",
  "score": 93
 },
 {
  "name": "Zara",
  "age": 21,
  "grade": "B",
  "major": "ME",
  "score": 82
 }
]

In [36]:
u16_o90 = list(students.find({

    "$or": [

        {"age": {"$lt": 16}},
        {"score": {"$gte": 90}}

    ]

}))

print(u16_o90)

[{'_id': ObjectId('69317fff049a88c9b135a5fc'), 'name': 'Alice', 'age': 22, 'grade': 'A', 'major': 'CS', 'score': 91}, {'_id': ObjectId('69317fff049a88c9b135a600'), 'name': 'Eve', 'age': 15, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a601'), 'name': 'Frank', 'age': 14, 'grade': 'B', 'major': 'CE', 'score': 72}, {'_id': ObjectId('69317fff049a88c9b135a605'), 'name': 'Julia', 'age': 22, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a608'), 'name': 'Mike', 'age': 19, 'grade': 'A', 'major': 'CS', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a60d'), 'name': 'Rachel', 'age': 18, 'grade': 'A', 'major': 'EE', 'score': 91}, {'_id': ObjectId('69317fff049a88c9b135a610'), 'name': 'Uma', 'age': 22, 'grade': 'A', 'major': 'CE', 'score': 93}, {'_id': ObjectId('69317fff049a88c9b135a612'), 'name': 'Wendy', 'age': 15, 'grade': 'A', 'major': 'ME', 'score': 94}, {'_id': ObjectId('69317fff049a88c9b135a617'), 'name': 'Bella', 'age': 23, 'grade': 'A', 'major': 'CS', 'score': 96}, {'_id': ObjectId('69317fff049a88c9b135a618'), 'name': 'Cody', 'age': 14, 'grade': 'C', 'major': 'CE', 'score': 55}, {'_id': ObjectId('69317fff049a88c9b135a61a'), 'name': 'Ethan', 'age': 19, 'grade': 'A', 'major': 'ME', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a61d'), 'name': 'Hazel', 'age': 20, 'grade': 'A', 'major': 'CS', 'score': 94}, {'_id': ObjectId('69317fff049a88c9b135a620'), 'name': 'Kyle', 'age': 23, 'grade': 'A', 'major': 'CS', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a622'), 'name': 'Mason', 'age': 15, 'grade': 'C', 'major': 'ME', 'score': 60}, {'_id': ObjectId('69317fff049a88c9b135a623'), 'name': 'Nora', 'age': 24, 'grade': 'A', 'major': 'CS', 'score': 97}, {'_id': ObjectId('69317fff049a88c9b135a625'), 'name': 'Piper', 'age': 17, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a628'), 'name': 'Trent', 'age': 23, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a62b'), 'name': 'Xena', 'age': 20, 'grade': 'A', 'major': 'EE', 'score': 93}]

In [37]:
#5. major 가 ME, CE, EE 중 하나이면서 grade가 "B"인 학생 찾기.

meceeeb = list(students.find({

    "$and": [

        {"major": {"$in": ["ME", "EE", "CE"]}},
        {"grade": "B"}

    ]

}))

print(meceeeb)

[{'_id': ObjectId('69317fff049a88c9b135a5fd'), 'name': 'Bob', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a601'), 'name': 'Frank', 'age': 14, 'grade': 'B', 'major': 'CE', 'score': 72}, {'_id': ObjectId('69317fff049a88c9b135a603'), 'name': 'Hannah', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 79}, {'_id': ObjectId('69317fff049a88c9b135a607'), 'name': 'Laura', 'age': 16, 'grade': 'B', 'major': 'ME', 'score': 74}, {'_id': ObjectId('69317fff049a88c9b135a609'), 'name': 'Nina', 'age': 20, 'grade': 'B', 'major': 'EE', 'score': 83}, {'_id': ObjectId('69317fff049a88c9b135a60c'), 'name': 'Quentin', 'age': 17, 'grade': 'B', 'major': 'CE', 'score': 76}, {'_id': ObjectId('69317fff049a88c9b135a616'), 'name': 'Aiden', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 78}, {'_id': ObjectId('69317fff049a88c9b135a619'), 'name': 'Diana', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 73}, {'_id': ObjectId('69317fff049a88c9b135a61c'), 'name': 'Gavin', 'age': 22, 'grade': 'B', 'major': 'EE', 'score': 81}, {'_id': ObjectId('69317fff049a88c9b135a61f'), 'name': 'Jade', 'age': 18, 'grade': 'B', 'major': 'CE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a621'), 'name': 'Luna', 'age': 21, 'grade': 'B', 'major': 'EE', 'score': 84}, {'_id': ObjectId('69317fff049a88c9b135a624'), 'name': 'Owen', 'age': 20, 'grade': 'B', 'major': 'CE', 'score': 75}, {'_id': ObjectId('69317fff049a88c9b135a62d'), 'name': 'Zara', 'age': 21, 'grade': 'B', 'major': 'ME', 'score': 82}]

In [38]:
#문요준 9:00 PM6. grade가 A 또는 B이지만, CS 전공이 아닌 학생 모두 찾기.

a = list(students.find({

    "$and": [

        {"grade": {"$in": ["A","B"]}},
        {"major": {"$nin": ["CS"]}}

    ]

}))

print(a)

[{'_id': ObjectId('69317fff049a88c9b135a5fd'), 'name': 'Bob', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a600'), 'name': 'Eve', 'age': 15, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a601'), 'name': 'Frank', 'age': 14, 'grade': 'B', 'major': 'CE', 'score': 72}, {'_id': ObjectId('69317fff049a88c9b135a603'), 'name': 'Hannah', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 79}, {'_id': ObjectId('69317fff049a88c9b135a605'), 'name': 'Julia', 'age': 22, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a607'), 'name': 'Laura', 'age': 16, 'grade': 'B', 'major': 'ME', 'score': 74}, {'_id': ObjectId('69317fff049a88c9b135a609'), 'name': 'Nina', 'age': 20, 'grade': 'B', 'major': 'EE', 'score': 83}, {'_id': ObjectId('69317fff049a88c9b135a60a'), 'name': 'Oscar', 'age': 21, 'grade': 'A', 'major': 'ME', 'score': 87}, {'_id': ObjectId('69317fff049a88c9b135a60c'), 'name': 'Quentin', 'age': 17, 'grade': 'B', 'major': 'CE', 'score': 76}, {'_id': ObjectId('69317fff049a88c9b135a60d'), 'name': 'Rachel', 'age': 18, 'grade': 'A', 'major': 'EE', 'score': 91}, {'_id': ObjectId('69317fff049a88c9b135a610'), 'name': 'Uma', 'age': 22, 'grade': 'A', 'major': 'CE', 'score': 93}, {'_id': ObjectId('69317fff049a88c9b135a612'), 'name': 'Wendy', 'age': 15, 'grade': 'A', 'major': 'ME', 'score': 94}, {'_id': ObjectId('69317fff049a88c9b135a616'), 'name': 'Aiden', 'age': 20, 'grade': 'B', 'major': 'ME', 'score': 78}, {'_id': ObjectId('69317fff049a88c9b135a619'), 'name': 'Diana', 'age': 17, 'grade': 'B', 'major': 'EE', 'score': 73}, {'_id': ObjectId('69317fff049a88c9b135a61a'), 'name': 'Ethan', 'age': 19, 'grade': 'A', 'major': 'ME', 'score': 90}, {'_id': ObjectId('69317fff049a88c9b135a61c'), 'name': 'Gavin', 'age': 22, 'grade': 'B', 'major': 'EE', 'score': 81}, {'_id': ObjectId('69317fff049a88c9b135a61f'), 'name': 'Jade', 'age': 18, 'grade': 'B', 'major': 'CE', 'score': 77}, {'_id': ObjectId('69317fff049a88c9b135a621'), 'name': 'Luna', 'age': 21, 'grade': 'B', 'major': 'EE', 'score': 84}, {'_id': ObjectId('69317fff049a88c9b135a624'), 'name': 'Owen', 'age': 20, 'grade': 'B', 'major': 'CE', 'score': 75}, {'_id': ObjectId('69317fff049a88c9b135a625'), 'name': 'Piper', 'age': 17, 'grade': 'A', 'major': 'EE', 'score': 92}, {'_id': ObjectId('69317fff049a88c9b135a628'), 'name': 'Trent', 'age': 23, 'grade': 'A', 'major': 'EE', 'score': 95}, {'_id': ObjectId('69317fff049a88c9b135a62b'), 'name': 'Xena', 'age': 20, 'grade': 'A', 'major': 'EE', 'score': 93}, {'_id': ObjectId('69317fff049a88c9b135a62d'), 'name': 'Zara', 'age': 21, 'grade': 'B', 'major': 'ME', 'score': 82}]

In [11]:
#7. 나이가 18보다 크고, (성적이 A이거나 점수가 85 이상) 인 학생 찾기.

b = list(students.find({

    "$and": [

        {"age": {"$gt": 18}},
        {"$or": [{"grade": "A"}, {"score": {"$gte": "85"}}]}
    ] 

}))

print_(b)

[
   {
      "name": "Alice",
      "age": 22,
      "grade": "A",
      "major": "CS",
      "score": 91
   },
   {
      "name": "Julia",
      "age": 22,
      "grade": "A",
      "major": "EE",
      "score": 92
   },
   {
      "name": "Mike",
      "age": 19,
      "grade": "A",
      "major": "CS",
      "score": 90
   },
   {
      "name": "Oscar",
      "age": 21,
      "grade": "A",
      "major": "ME",
      "score": 87
   },
   {
      "name": "Uma",
      "age": 22,
      "grade": "A",
      "major": "CE",
      "score": 93
   },
   {
      "name": "Bella",
      "age": 23,
      "grade": "A",
      "major": "CS",
      "score": 96
   },
   {
      "name": "Ethan",
      "age": 19,
      "grade": "A",
      "major": "ME",
      "score": 90
   },
   {
      "name": "Hazel",
      "age": 20,
      "grade": "A",
      "major": "CS",
      "score": 94
   },
   {
      "name": "Kyle",
      "age": 23,
      "grade": "A",
      "major": "CS",
      "score": 90
   },
   {
      "name": "Nora",
      "age": 24,
      "grade": "A",
      "major": "CS",
      "score": 97
   },
   {
      "name": "Trent",
      "age": 23,
      "grade": "A",
      "major": "EE",
      "score": 95
   },
   {
      "name": "Xena",
      "age": 20,
      "grade": "A",
      "major": "EE",
      "score": 93
   }
]

In [ ]:
#나이가 18도 크고 22보다 작지만 19살이 아님 사람인데 전공이 EE 또는 CS인 사람인데 단 나이고 18살일 경우 EE만 포함해서 grade가 B이상인 사람을 모두 조회하시오